/* Effective stylesheet produced by snapshot save */
body { margin: 0px; padding: 0px; font-family: Arial; font-weight: normal; text-align: left; }
a { color: rgb(2, 77, 153); }
a { color: rgb(2, 77, 153); text-decoration: none; }
a:hover { text-decoration: underline; }
ul a { font-size: 13px; }
ul { list-style-image: url("4580293.cms.gif"); font-size: 13px; margin: 0px; padding: 5px 2px 0px 15px; }
ul li { margin-bottom: 2px; font-size: 13px; }
.tabdatadiv2 { border-bottom: 1px solid rgb(188, 188, 188); border-left: 1px solid rgb(188, 188, 188); border-right: 1px solid rgb(188, 188, 188); display: block; width: 328px; }
.top_head_bar { background: url("11788630.cms.png") no-repeat scroll -6px -6px transparent; width: 300px; height: 50px; }
.tabdatadiv2 { display: block; text-align: left; width: 298px; height: auto; float: left; }
.col1 { float: left; }
.col1 img { float: left; }
.col2 { float: left; padding: 0px 1px; width: 193px; }
.pro_name { padding-top: 7px; font-family: arial; color: rgb(255, 255, 255); float: left; font-size: 14px; font-weight: bold; width: 90%; text-align: left; padding-bottom: 8px; padding-left: 6px; background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12530871.cms") no-repeat scroll 1px 28px transparent; }
#medal_div { float: left; height: 233px; margin-left: 1px; width: 297px; margin-top: -3px; border-right: 1px solid rgb(222, 229, 238); border-left: 1px solid rgb(222, 229, 238); }
.nl_badgecaption { font-family: arial; font-size: 11px; font-weight: bold; color: rgb(79, 79, 79); text-align: center; }
.nl_badgeimg { clear: both; position: relative; padding-top: 10px; }
.hoverblock_new_two { background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12290320.cms") repeat-y scroll center center transparent; width: 280px; padding: 0px ! important; display: table ! important; }
.cont_pad { margin: 14px 10px 10px ! important; }
.full_cont { width: 100%; }
.cont_left { float: left; width: 20%; }
.cont_right { float: right; width: 77%; }
.textone_new { color: rgb(255, 255, 255); font-weight: bold; margin-left: 14px ! important; margin-top: 8px ! important; }
.badgesyn { color: rgb(153, 153, 153); font: 12px normal Arial,Helvetica,sans-serif; padding: 1px 4px 0px 0px ! important; text-align: left; }
.texttwo { color: rgb(255, 255, 255); text-align: right; margin-top: 14px ! important; font-size: 11px; font-weight: bold; padding-right: 14px; }
.leftone { float: left; width: 60%; position: relative; }
.rightone { float: right; width: 25%; position: relative; text-align: right ! important; }
.badgesyn { color: rgb(153, 153, 153); font: 12px normal Arial,Helvetica,sans-serif; padding: 1px 4px 0px 0px ! important; text-align: left; }
.hoverblock_new_two { background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12290320.cms") repeat-y scroll center center transparent; width: 280px; padding: 0px ! important; display: table ! important; }
.login_linkone { color: rgb(255, 255, 255); font-size: 20px; font-family: arial; text-decoration: none; }
.login_link { color: rgb(255, 255, 255); font-size: 20px; font-family: arial; text-decoration: none; }
.user_image_left { margin: 5px 0px 0px; border: 2px solid rgb(255, 255, 255); }
#medal_div_one { float: left; height: 260px; width: 298px; border-right: 1px solid rgb(222, 229, 238); border-left: 1px solid rgb(222, 229, 238); }
#timesPointHolder { margin: 0px; width: 300px; }
#timesPointHolder .timesTab { background: none repeat scroll 0px 0px rgb(31, 85, 146); height: 38px; padding: 8px 0px; }
#timesPointHolder .timesTab ul { padding: 0px 0px 0px 7px; }
#timesPointHolder .timesTab li { background: none repeat scroll 0px 0px transparent; float: left; list-style: outside none none; padding: 0px; }
#timesPointHolder .timesTab li a { color: rgb(255, 255, 255); display: block; line-height: 38px; text-align: center; text-decoration: none; }
#timesPointHolder .timesTab li.current a { color: rgb(0, 0, 0); }
#medal_div_one { float: left; height: 260px; width: 298px; border-right: 1px solid rgb(222, 229, 238); border-left: 1px solid rgb(222, 229, 238); }
.user_image_left { margin: 5px 0px 0px; border: 2px solid rgb(255, 255, 255); }
.nl_badgecaption { font-family: arial; font-size: 11px; font-weight: bold; color: rgb(79, 79, 79); text-align: center; }
.nl_badgeimg { clear: both; position: relative; padding-top: 10px; }
#profile_blk { margin: 0px; padding: 0px; float: left; width: 300px; }
.col1 { float: left; }
.col1 img { float: left; }
.col2 { float: left; padding: 0px 1px; width: 193px; }
.pro_name { padding-top: 7px; font-family: arial; color: rgb(255, 255, 255); float: left; font-size: 14px; font-weight: bold; width: 90%; text-align: left; padding-bottom: 8px; padding-left: 6px; background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12530871.cms") no-repeat scroll center bottom transparent; }
#medal_div { float: left; height: 238px; margin-left: 1px; width: 297px; margin-top: -3px; border-right: 1px solid rgb(222, 229, 238); border-left: 1px solid rgb(222, 229, 238); }
.login_link { color: rgb(255, 255, 255); font-size: 20px; font-family: arial; text-decoration: none; }
.login_linkone { color: rgb(255, 255, 255); font-size: 20px; font-family: arial; text-decoration: none; }
.clr { clear: both; }
.top_head_bar { background: url("11788630.cms.png") no-repeat scroll -6px -6px transparent; width: 300px; height: 50px; }
.tabdatadiv2 { display: block; text-align: left; width: 298px; height: auto; float: left; }
.col1 { float: left; }
.col1 img { float: left; }
.col2 { float: left; padding: 0px 1px; width: 193px; }
#medal_div { float: left; height: 233px; margin-left: 1px; width: 297px; margin-top: -3px; border-right: 1px solid rgb(222, 229, 238); border-left: 1px solid rgb(222, 229, 238); }
.nl_badgecaption { font-family: arial; font-size: 11px; font-weight: bold; color: rgb(79, 79, 79); text-align: center; }
.nl_badgeimg { clear: both; position: relative; padding-top: 10px; }
.hoverblock_new_two { background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12290320.cms") repeat-y scroll center center transparent; width: 280px; padding: 0px ! important; display: table ! important; }
.cont_pad { margin: 14px 10px 10px ! important; }
.full_cont { width: 100%; }
.cont_left { float: left; width: 20%; }
.cont_right { float: right; width: 77%; }
.textone_new { color: rgb(255, 255, 255); font-weight: bold; margin-left: 14px ! important; margin-top: 8px ! important; }
.badgesyn { color: rgb(153, 153, 153); font: 12px normal Arial,Helvetica,sans-serif; padding: 1px 4px 0px 0px ! important; text-align: left; }
.texttwo { color: rgb(255, 255, 255); text-align: right; margin-top: 14px ! important; font-size: 11px; font-weight: bold; padding-right: 14px; }
.leftone { float: left; width: 60%; position: relative; }
.rightone { float: right; width: 25%; position: relative; text-align: right ! important; }
.badgesyn { color: rgb(153, 153, 153); font: 12px normal Arial,Helvetica,sans-serif; padding: 1px 4px 0px 0px ! important; text-align: left; }
.hoverblock_new_two { background: url("urn:not-loaded:http://timesofindia.indiatimes.com/photo/12290320.cms") repeat-y scroll center center transparent; width: 280px; padding: 0px ! important; display: table ! important; }
.nl_badgein_five { float: left; width: 91px; padding-bottom: 24px; border-right: 1px solid rgb(190, 198, 209); background: url("11790044.cms.png") repeat-x scroll 0px 41px transparent; }
#badgemember { position: relative; }
#usermedalnw div.tooltip { display: none; width: 280px; position: absolute; z-index: 9999999 ! important; left: 10px; top: 20px; }
#usermedalnw div.tooltip { display: none; width: 280px; position: absolute; z-index: 9999999 ! important; left: 10px; top: 20px; }
.clr { clear: both; }
